div.card {
    div.text {
        width: calc(100% - 100px);
        p {
            text-align: left;
            font-size: 0.7em;
            span {
                font-weight: bold;
            }
        }
    }
    div.image {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
}