div.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
div.reverse {
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
}

div.card {
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--dark-blue-grey);
    background: var(--middle-light-grey);
    background: linear-gradient(132deg, var(--middle-light-grey) 60%, var(--darker-light-grey) 100%);
    border: solid 1px var(--blue-color);
    border-radius: 20px;
    cursor: pointer;
    padding: 10px;
    width: 30vw;
    min-width: 100px;
    max-width: 450px;
    margin: 10px 10px;
    transition: transform 0.2s linear;

    h1 {
        font-size: 1.2em;
        text-align: center;
    }
    h3 {
        text-align: center;
    }
    p {
        text-align: center;
    }
    img {
        opacity: 0.6;
        padding: 10px;
        max-width: 100px;
    }
}
div.bigcard {
    width: 50vw;
    min-width: 300px;
    max-width: 900px;
}
div.card-not-hover {
    cursor: default;
}

div.inline {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 350px;
    max-width: 500px;
    width: 90%;
    margin: 5px auto;

    div.right {
        justify-content: flex-end;
    }
}
div.subcard {
    align-self: flex-start;
    width: 100%;
    margin: 5px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

div.disable {
    cursor: default;
    opacity: 0.6;
}
div.card:hover {
    transform: scale(1.1);
}
div.card-not-hover:hover {
    transform: scale(1);
}

div.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
div.right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}