form {
    background-color: white;
    border: solid 1px var(--blue-color);
    border-radius: 20px;
    padding: 10px;
    div {
        padding: 5px 0;
    }
    p.link {
        margin: 10px 0;
    }
    p.error {
        color: var(--error-color);
    }
    ul {
        margin-left: 20px;
    }
}

input, select {
    padding: 5px;
    border-radius: 20px;
    border: solid 1px var(--light-grey-color);
    margin: 5px auto;
}
input[type="submit"], button {
    display: block;
    cursor: pointer;
    color: var(--dark-blue-grey);
    font-weight: bold;
    padding: 5px;
    border-radius: 20px;
    border: solid 1px var(--blue-color);
    transition: b 0.2s linear;
    background-color: var(--middle-light-grey);
    transition: background-color 0.2s linear;
}
input[type="submit"]:hover, button:hover {
    background-color: var(--darker-light-grey);
}
input[type="submit"]:active, button:hover {
    background-color: var(--darkest-light-grey);
}
input:focus, select:focus {
    outline: none;
    border-color: var(--blue-color);
}
select {
    cursor: pointer;
}
option {
    cursor: pointer;
}

/*
Center form : A big form in the middle of the page
*/
form.center {
    margin: 50px auto;
    margin-top: 10vh;
    width: 90%;
    div {
        margin: 15px 0;
    }
    h2 {
        color: var(--light-grey-color);
        text-align: center;
        font-size: 2em;
        font-weight: bold;
    }
    label {
        font-size: 1.1em;
        font-weight: bold;
    }
    input, select {
        font-size: 1.1em;
        width: 90%;
        min-width: 250px;
        transition: border-color 0.2s linear;
        padding: 10px 5px;
    }
    input[type="submit"] {
        width: 90%;
        min-width: 300px;
        font-size: 1.2em;
        margin-top: 25px;
    }
}

/*
Column form : Label above input and not inline
*/
form.column {
    div {
        display: flex;
        flex-direction: column;
    }
    div.button-container {
        align-items: center;
    }
}