<div>
    <h1>{{ company?.name }}</h1>
    <img [src]="'../../../assets/images/icon/company-type-icon/'+company?.company_type+'.png'" 
    [alt]="'Image de '+companyService.getCompanyType(company?.company_type)" width="80px">
    <h3>{{ companyService.getCompanyType(company?.company_type) }} de niveau {{ company?.companylevel }}</h3>
    <h3>Argent dans le coffre : <app-player-money [money]="company?.money_in_safe"></app-player-money></h3>

    @if (sharedData.sharedData !== undefined && company !== undefined) {
        @if (sharedData.sharedData.companylevels[company.companylevel-1].priceForNextLevel === null) {
            <button class="center">
                Améliorer<br>
                Niveau max
            </button>
        }
        @else if (playerService.checkMoney(sharedData.sharedData.companylevels[company.companylevel-1].priceForNextLevel!)) {
            <button class="center">
                Améliorer<br>
                <app-player-money [money]="sharedData.sharedData.companylevels[company.companylevel-1].priceForNextLevel!"
                (click)="upgradeCompany()"></app-player-money>
            </button>
        } @else {
            <button class="center disable">
                Améliorer<br>
                <app-player-money [money]="sharedData.sharedData.companylevels[company.companylevel-1].priceForNextLevel!"></app-player-money>
            </button>
        }
    }

    @switch (company?.company_type) {
        @case ("bank") {
            <app-bank-level class="company-level"></app-bank-level>
        }
    }
</div>