<div class="card-container">
    <div class="card bigcard card-not-hover" *ngFor="let creditRequest of creditRequestList">
        <h4>Demande de prêt n°{{ creditRequest.id }}</h4>
        <div class="subcard">
            <div class="left">
                <p *ngIf="!fromClient">Demande de : {{ creditRequest.player!.pseudo }}</p>
                <p>Argent demandé : <app-player-money [money]="creditRequest.money"></app-player-money></p>
                <p>Paiment hebdomadaire : <app-player-money [money]="creditRequest.weeklypayment"></app-player-money></p>
            </div>
            <div class="right">
                <p>Taux du prêt : {{ creditRequest.rate ?? "Taux à définir" }}</p>
                <p>Status : {{ getCreditRequestStatus(creditRequest.status) }}</p>
            </div>
        </div>
        <p style="white-space: pre-line;">
            <b>Description :</b><br>
            {{ creditRequest.description }}
        </p>
        <hr class="separator">
        <div class="form" style="width: 100%;">
            <app-credit-request-forms [fromClient]="fromClient" [creditRequest]="creditRequest"></app-credit-request-forms>
        </div>
    </div>
</div>