p, div.form {
    width: 100%;
    align-self: flex-start;
    text-align: left !important;
}

@media only screen and (max-width: 600px) {
    p {
        font-size: 0.8em;
        margin: 5px 0;
    }
}