<div class="card-container">
    <div class="card bigcard" *ngFor="let creditRequest of creditRequestList">
        <h4>Demande de prêt n°{{ creditRequest.id }}</h4>
        <div class="subcard">
            <div class="left">
                <p>Argent demandé : <app-player-money [money]="creditRequest.money"></app-player-money></p>
                <p>Paiment hebdomadaire : <app-player-money [money]="creditRequest.weeklypayment"></app-player-money></p>
            </div>
            <div class="right">
                <p>Taux du prêt : {{ creditRequest.rate ?? "Taux à définir" }}</p>
                <p>Status : {{ getCreditRequestStatus(creditRequest.status) }}</p>
            </div>
        </div>
        <p>
            <b>Description :</b><br>
            {{ creditRequest.description }}
        </p>
    </div>
</div>