<app-connected-dashboard></app-connected-dashboard>

<p class="page-error" *ngIf="error !== ''">{{ error }}</p>


<div *ngIf="error === ''">
    <div class="menu">
        <button (click)="changePage('company')">Informations générales de la banque</button>
        <button (click)="changePage('param')">Paramètre de la banque</button>
        <button (click)="changePage('accounts')">Liste des comptes</button>
    </div>
    <hr>
    <div class="view">
        <app-company-info [company]="company" *ngIf="page === 'company'"></app-company-info>
        <app-bank-param-form [bank]="bank" *ngIf="page === 'param' && bank !== undefined"></app-bank-param-form>
        <app-bank-account-list [bank]="bank" *ngIf="page === 'accounts' && bank !== undefined"></app-bank-account-list>
    </div>
</div>