h1 {
    padding-top: 10px;
}
h4 {
    margin: 10px 0;
}
div.rules {
    margin: 5px 10px;

    span {
        font-weight: bold;
    }
}


div.bet {
    width: 100%;
    margin: 25px auto;

    div.actions {
        width: 60%;
        min-width: 300px;
        margin: 10px auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        button {
            font-size: 2em;
            padding: 0 10px;
        }
        input {
            width: 80px;
            min-width: 225px;
        }
    }
}

div.dices {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    div.dice {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        width: 180px;
        height: 180px;

        font-size: 5em;
        font-weight: bold;
    }
    :nth-child(1) {
        background-color: #f1f1f1;
        border: solid 5px black;
    }
    :nth-child(2) {
        background-color: rgb(255, 111, 111);
        color: #f1f1f1;
        border: solid 5px #f1f1f1;
    }
}
div.dice-buttons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 5px 0;

    button {
        width: 180px;
        font-size: 2em;
    }
}
div.total {
    font-size: 3em;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

div.play {
    width: 60%;
    min-width: 300px;
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    button {
        font-size: 1.7em;
    }
    p {
        text-align: center;
        font-size: 1.2em;
    }
    p.result {
        font-size: 1.5em;
        font-weight: bold;
        padding: 10px 0;
    }
}