form {
    margin: 0;
    padding: 0;
    width: 100%;

    textarea {
        height: 75px;
        max-height: 325px;
        width: 35%;
        min-width: 250px;
        max-width: 95%;
    }

    p.explain {
        margin: 5px 0 0 5px;
    }

    button.send {
        margin: 5px 0;
        font-size: 1.0em;
        padding: 5px 10px;
    }

    textarea {
        border-radius: 5px 20px 5px 20px;
    }
}

@media only screen and (max-width: 600px) {
    div.buttons {
        div {
            width: 90%;
            margin: 10px auto;
            button {
                width: 100%;
            }
            p {
                width: 100%;
                text-align: justify;
            }
        }
    }

    form {
        width: 100%;
        margin: 5px 0;
        padding: 0;
        div {
            margin: 10px auto;
            width: 95%;
        }
        p {
            font-size: 0.8em;
        }
    }
}