<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<header>
    <div>
        <img src="../assets/images/bui.webp" alt="Logo de BUI" width="50px" height="50px">
        <h1>BUI</h1>
    </div>

    <img src="../assets/images/dashboard.png" alt="Image de maison" width="40px" height="40px" [routerLink]="['/dashboard']">
</header>
<router-outlet />