<app-connected-dashboard></app-connected-dashboard>

<div class="explain">
    <h1>Mes entreprises</h1>
    <p>
        Vous êtes sur la page de vous entreprises. Ici vous pouvez voir vous entreprises ou en créer une nouvelle.
        Vous pouvez créer jusqu'à {{sharedData.maxCompaniesPerPlayer}} entreprises
    </p>
</div>


<div class="card-container">
    <div *ngFor="let company of appData.playerData?.companies" [ngSwitch]="company.company_type">
        <app-bank-card *ngSwitchCase="'bank'" [company]="company"></app-bank-card>
        <app-casino-card *ngSwitchCase="'casino'" [company]="company"></app-casino-card>
        <app-estate-card *ngSwitchCase="'estate_agency'" [company]="company"></app-estate-card>
        <app-factory-card *ngSwitchCase="'factory'" [company]="company"></app-factory-card>
        <app-mafia-card *ngSwitchCase="'mafia'" [company]="company"></app-mafia-card>
        <app-security-card *ngSwitchCase="'security'" [company]="company"></app-security-card>
    </div>

    <div class="card" *ngIf="!appData.playerData?.has_full_companies" [routerLink]="['/company/create']">
        <img src="../../../assets/images/icon/add.png" alt="Image de création d'entreprise">
        <h1>Créer une entreprise</h1>
    </div>
</div>