<div class="container">
    <div class="level">
        <h3>Level 1</h3>
        <ul>
            <li>
                Nouvelles recettes : Verre, Plastique
            </li>
            <li>
                Nombre de machine de production : {{ sharedData.sharedData?.factorylevel?.l1?.nbMachine }}
            </li>
            <li>
                Nombre de slot de vente : {{ sharedData.sharedData?.factorylevel?.l1?.nbSellSlot }}
            </li>
            <li>
                Quantité maximum par slot de vente : {{ sharedData.sharedData?.factorylevel?.l1?.quantityPerSlot }}kg
            </li>
            <li>
                Taille de l'entrepôt de stockage : {{ sharedData.sharedData?.factorylevel?.l1?.warehouseCapacity }}kg
            </li>
        </ul>
    </div>

    <div class="level">
        <h3>Level 2</h3>
        <ul>
            <li>
                Nouvelles recettes : Acier, Gaz, Cuivre, Tissu
            </li>
            <li>
                Nombre de machine de production : {{ sharedData.sharedData?.factorylevel?.l2?.nbMachine }}
            </li>
            <li>
                Nombre de slot de vente : {{ sharedData.sharedData?.factorylevel?.l2?.nbSellSlot }}
            </li>
            <li>
                Quantité maximum par slot de vente : {{ sharedData.sharedData?.factorylevel?.l2?.quantityPerSlot }}kg
            </li>
            <li>
                Taille de l'entrepôt de stockage : {{ sharedData.sharedData?.factorylevel?.l2?.warehouseCapacity }}kg
            </li>
        </ul>
    </div>

    <div class="level">
        <h3>Level 3</h3>
        <ul>
            <li>
                Nouvelles recettes : Titane, Béton
            </li>
            <li>
                Entreprise gérable à distance
            </li>
            <li>
                Nombre de machine de production : {{ sharedData.sharedData?.factorylevel?.l3?.nbMachine }}
            </li>
            <li>
                Nombre de slot de vente : {{ sharedData.sharedData?.factorylevel?.l3?.nbSellSlot }}
            </li>
            <li>
                Quantité maximum par slot de vente : {{ sharedData.sharedData?.factorylevel?.l3?.quantityPerSlot }}kg
            </li>
            <li>
                Taille de l'entrepôt de stockage : {{ sharedData.sharedData?.factorylevel?.l3?.warehouseCapacity }}kg
            </li>
        </ul>
    </div>

    <div class="level">
        <h3>Level 4</h3>
        <ul>
            <li>
                Nouvelles recettes : Bois traité, Lapis-Lazuli
            </li>
            <li>
                Vous pourrez vendre et acheter des ressources aux joueurs qui ne sont pas dans votre ville mais les prix sont 
                multiplié par {{ sharedData.sharedData?.factorylevel?.l4?.distanceSellingMultiplicator }}
            </li>
            <li>
                Nombre de machine de production : {{ sharedData.sharedData?.factorylevel?.l4?.nbMachine }}
            </li>
            <li>
                Nombre de slot de vente : {{ sharedData.sharedData?.factorylevel?.l4?.nbSellSlot }}
            </li>
            <li>
                Quantité maximum par slot de vente : {{ sharedData.sharedData?.factorylevel?.l4?.quantityPerSlot }}kg
            </li>
            <li>
                Taille de l'entrepôt de stockage : {{ sharedData.sharedData?.factorylevel?.l4?.warehouseCapacity }}kg
            </li>
        </ul>
    </div>

    <div class="level">
        <h3>Level 5</h3>
        <ul>
            <li>
                Nouvelles recettes : Plutonium, Osmium, Béton armé
            </li>
            <li>
                Nombre de machine de production : {{ sharedData.sharedData?.factorylevel?.l5?.nbMachine }}
            </li>
            <li>
                Nombre de slot de vente : {{ sharedData.sharedData?.factorylevel?.l5?.nbSellSlot }}
            </li>
            <li>
                Quantité maximum par slot de vente : {{ sharedData.sharedData?.factorylevel?.l5?.quantityPerSlot }}kg
            </li>
            <li>
                Taille de l'entrepôt de stockage : {{ sharedData.sharedData?.factorylevel?.l5?.warehouseCapacity }}kg
            </li>
            <li>
                Multiplicateur en cas de vente à distance : {{ sharedData.sharedData?.factorylevel?.l5?.distanceSellingMultiplicator }}
            </li>
        </ul>
    </div>

    <div class="level">
        <h3>Level 6</h3>
        <ul>
            <li>
                Nouvelles recettes : Anti-atome stable
            </li>
            <li>
                Nombre de machine de production : {{ sharedData.sharedData?.factorylevel?.l6?.nbMachine }}
            </li>
            <li>
                Nombre de slot de vente : {{ sharedData.sharedData?.factorylevel?.l6?.nbSellSlot }}
            </li>
            <li>
                Quantité maximum par slot de vente : {{ sharedData.sharedData?.factorylevel?.l6?.quantityPerSlot }}kg
            </li>
            <li>
                Taille de l'entrepôt de stockage : {{ sharedData.sharedData?.factorylevel?.l6?.warehouseCapacity }}kg
            </li>
            <li>
                Multiplicateur en cas de vente à distance : {{ sharedData.sharedData?.factorylevel?.l6?.distanceSellingMultiplicator }}
            </li>
        </ul>
    </div>
</div>