<app-connected-dashboard></app-connected-dashboard>

<div class="card-container">
    <div class="card" [routerLink]="['/company/dashboard']">
        <h1>Mes Entreprises</h1>
        <img src="../../assets/images/icon/corporation.png" alt="Image d'entreprise">
        <p>Gérer vos entreprises ou créez-en une nouvelle</p>
    </div>
    <div class="card" [routerLink]="['/mine/dashboard']">
        <h1>Mes Mines</h1>
        <img src="../../assets/images/icon/mine.png" alt="Image d'entreprise">
        <p>Lancer/Récolter une production ou acheter de nouvelles mines</p>
    </div>
    <div class="card" [routerLink]="['/city']">
        <h1>Ma Ville</h1>
        <img src="../../assets/images/icon/city.png" alt="Image d'entreprise">
        <p>Accéder à votre ville et à ce qu'elle propose ou déménager</p>
    </div>
    <div class="card" [routerLink]="['/homes']">
        <h1>Ma Maison</h1>
        <img src="../../assets/images/icon/house.png" alt="Image d'entreprise">
        <p>Accéder à votre maison et à son coffre fort.</p>
    </div>
    <div class="card" [routerLink]="['/shop']">
        <h1>Marché</h1>
        <img src="../../assets/images/icon/market.png" alt="Image d'entreprise">
        <p>Vendez les ressources que vous possédez</p>
    </div>
    <div class="card">
        <h1>Place Public</h1>
        <img src="../../assets/images/icon/public.png" alt="Image d'entreprise">
        <p>Voyez ce qu'il se passe dans le monde et ce que les entreprises proposent</p>
    </div>
</div>